$var title: About

<div class="center_content">
  <div class="left_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet1.gif" alt="" title="" /></span>Overview</div>

    <div class="feat_prod_box_details">
      <p class="details">
        Firenomics is a place to share and find awesome extensions. Install the extension and we automatically update your profile. Share your favorites on your blog with our widget, or just browse and discuss your favorites with others.
      </p>
    </div>
    <div class="clear"></div>
  </div><!--end of left content-->

  <div class="right_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet3.gif" alt="" title="" /></span>About Our Stack</div>
    <div class="about">
      <p>
        The website is built on: <a href="http://appengine.google.com">Google App Engine</a>, <a href="http://jquery.com">jQuery</a>, and a base css template from <a href="http://csscreme.com/">CSS Creme</a>.
      </p>
      <p>
        The <a href="/extensions/firenomics">addon</a> is built with XUL, JavaScript and little CSS.
      </p>
    </div>
  </div><!--end of right content-->

  <div class="clear"></div>
</div><!--end of center content-->
