$def with (page)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$page.title | Firenomics</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
$:page.get('head')
</head>
<body>

<div id="wrap">
  <div class="header">
    <div class="logo"><a href="/"><img src="/static/logo.png" alt="" title="" border="0" /></a></div>
    <div id="menu">
      <ul>
        <li><a href="/extensions">browse</a></li>
        <li><a href="/home">your extensions</a></li>
        <li><a href="/install">install</a></li>
        <li><a href="/about">about us</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </div>
  </div>

  $:page
  <div class="clear"></div>

  <div class="footer">
    <div class="right_footer">
      <a href="/">home</a>
      <a href="/about">about us</a>
      <a href="/privacy">privacy policy</a>
      <a href="/contact">contact us</a>
    </div>
  </div>

</div>

</body>
</html>
