$def with (extension)
$var title: $extension.name

<div class="center_content">
  <div class="left_content">
    <h1>$extension.name</h1>

    <p>$extension.description</p>


    <h3>RECOMMENDATIONS COMING SOON!</h3>
    $if extension.extensionrecommendation_set.count() > 0:
        <h3>Recommended Extensions</h3>
        <ul>
        $for recommendation in extension.extensionrecommendation_set.fetch(10):
            <li><a href="$recommendation.recommended.mid">$recommendation.recommended.name</a></li>
        </ul>

  </div><!--end of left content-->

  <div class="right_content">
    $if extension.homepageURL:
        <h3>Homepage</h3>
        <a href="$extension.homepageURL">$extension.homepageURL</a>
    $if extension.creator:
        <h3>Creator</h3>
        <ul>
        <li>$extension.creator</li>
        </ul>
    $if extension.developers:
        <h3>Developers</h3>
        <ul>
        $for developer in extension.developers:
            <li>$developer</li>
        </ul>
    $if extension.contributors:
        <h3>Contributors</h3>
        <ul>
        $for contributor in extension.contributors:
            <li>$contributor</li>
        </ul>
    $if extension.translators:
        <h3>Translators</h3>
        <ul>
        $for translator in extension.translators:
            <li>$translator</li>
        </ul>

  </div><!--end of right content-->

  <div class="clear"></div>
</div><!--end of center content-->
