$def with (forum)

$var title: $forum.name forum

<style type="text/css">

  #topics {
    padding: 0;
    margin: 0;
  }

  #topics li {
    border-top: 1px solid #ccc;
    padding: 8px 4px;
    margin: 0;
  }

  #topics li:last-child {
    border-bottom: 1px solid #ccc;
  }

  #topics li:hover {
    background-color: #eee;
  }

  #topics li .title a {
    font-size: 1.5em;
  }

  #topics li img {
    margin: 0 10px 0 0;
    float: left;
  }

  #topics li .count {
    float: right;
  }

  #topics li .count em {
    font-size: 2em;
    text-align: center;
    display: block;
    font-weight: bold;
  }

  h4 {
    width: 70%;
    padding-left: 25px;
  }
</style>

<h3><a href="/forums">Forums</a> &raquo; $forum.name</h3>

<a href="$forum.slug/forum/new" style="font-size: 1.1em;float: right">Post a new Topic</a>

<h4>$forum.description</h4>

<div class="clear"></div>
<br />
<br />

<ul id="topics">
  $for topic in forum.topic_set.order('-last_post'):
      <li>
        <img src="$topic.gravatar(48)" />
        <span class="count"><em>$topic.post_set.count()</em> posts</span>
        <div class="title"><a href="$forum.slug/forum/$topic.key()">$topic.title</a> by <em>$topic.nickname</em></div>
        posted on $topic.pretty_date()
        $if topic.post_set.count() > 1:
            -
            last response by <em>$topic.post_set.order('-created')[0].nickname</em>
        <br style="clear: both" />
      </li>
</ul>

