$var title: Home

<div class="center_content">
  <div class="left_content">

    <div class="title"><span class="title_icon"><img src="/static/images/bullet1.gif" alt="" title="" /></span>Hot Extensions</div>

    <div class="feat_prod_box">
      <div class="prod_img">
        <a href="/extensions/{e4a8a97b-f2ed-450b-b12d-ee082ba24781}"><img src="/static/images/default_icon.png" alt="" title="" border="0" width="96" /></a><br />
      </div>
      <div class="prod_det_box">
        <div class="box_top"></div>
        <div class="box_center">
          <div class="prod_title">Greasemonkey</div>
          <p class="details">A User Script Manager for Firefox</p>
          <a href="/extensions/{e4a8a97b-f2ed-450b-b12d-ee082ba24781}" class="more">- more details -</a>
          <div class="clear"></div>
        </div>
        <div class="box_bottom"></div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="feat_prod_box">
      <div class="prod_img">
        <a href="/extensions/taboo@runningfrombears.com"><img src="/static/images/taboo.png" width="96" height="96" alt="" title="" border="0" /></a><br />
      </div>
      <div class="prod_det_box">
        <div class="box_top"></div>
        <div class="box_center">
          <div class="prod_title">Taboo</div>
          <p class="details">The cure for tabitis</p>
          <a href="/extensions/taboo@runningfrombears.com" class="more">- more details -</a>
          <div class="clear"></div>
        </div>

        <div class="box_bottom"></div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="title"><span class="title_icon"><img src="/static/images/bullet2.gif" alt="" title="" /></span>Upcoming Extensions</div>

    <div class="new_products">
      <div class="new_prod_box">
        <a href="details.html">pink</a>
        <div class="new_prod_bg">
          <span class="new_icon"><img src="/static/images/new_icon.gif" alt="" title="" /></span>
          <a href="details.html"><img src="/static/images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
      </div>
      <div class="new_prod_box">
        <a href="details.html">multicolor</a>
        <div class="new_prod_bg">
          <span class="new_icon"><img src="/static/images/new_icon.gif" alt="" title="" /></span>
          <a href="details.html"><img src="/static/images/thumb2.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
      </div>
      <div class="new_prod_box">
        <a href="details.html">yellow</a>
        <div class="new_prod_bg">
          <span class="new_icon"><img src="/static/images/new_icon.gif" alt="" title="" /></span>
          <a href="details.html"><img src="/static/images/thumb3.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div><!--end of left content-->

  <div class="right_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet3.gif" alt="" title="" /></span>About Firenomics</div>
    <div class="about">
      <p>
        Firenomics is a place to share and find awesome extensions.  Install the extension and we automatically update your profile.  Share your favorites on your blog with our widget, or just browse and discuss your favorites with others.
      </p>

    </div>

  </div><!--end of right content-->

  <div class="clear"></div>
</div><!--end of center content-->
