$var title: Install

<div class="center_content">
  <div class="left_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet1.gif" alt="" title="" /></span>Installation</div>

    <div class="feat_prod_box_details">
      <p class="details">
        To get started you have to install another extension!  By installing our extension we will (eventually) automatically update your extension list whenever you install, uninstall or disable an extension.
      </p>
      <h3>Install:</h3>
      <p class="details">
        Install by <a href="https://firenomics.s3.amazonaws.com/firenomics.xpi">clicking here</a>, then restart your browser as requested.
      </p>
      <h3>Login:</h3>
      <p class="details">
        Login by clicking on <a href="/home">your stuff</a>.
      </p>
      <h3>Manual Update (for now)</h3>
      <p class="details">
        Currently updating is manual.  If you are logged in you choose <b>Update Firenomics</b> from the Tool Menu of your browser.  You can visit <a href="/home">your stuff</a> to see your extensions.
      </p>
    </div>
    <div class="clear"></div>
  </div><!--end of left content-->

  <div class="right_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet3.gif" alt="" title="" /></span>Pre-Alpha !!!</div>
    <div class="about">
      <p>
        Firenomics is very new.  Please try it out and <a href="http://firenomics.uservoice.com">give feedback on uservoice</a>.  If you are new to addons, this is probably not the first extension for you :)
      </p>

    </div>

    <div class="right_box">

      <div class="title"><span class="title_icon"><img src="/static/images/bullet4.gif" alt="" title="" /></span>PRE-ALPHA!</div>
      <div class="new_prod_box">
        <a href="details.html">product name</a>
        <div class="new_prod_bg">
          <span class="new_icon"><img src="images/promo_icon.gif" alt="" title="" /></span>
          <a href="details.html"><img src="images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
      </div>

      <div class="new_prod_box">
        <a href="details.html">product name</a>
        <div class="new_prod_bg">
          <span class="new_icon"><img src="images/promo_icon.gif" alt="" title="" /></span>
          <a href="details.html"><img src="images/thumb2.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
      </div>

      <div class="new_prod_box">
        <a href="details.html">product name</a>
        <div class="new_prod_bg">
          <span class="new_icon"><img src="images/promo_icon.gif" alt="" title="" /></span>
          <a href="details.html"><img src="images/thumb3.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
      </div>
    </div>

    <div class="right_box">

      <div class="title"><span class="title_icon"><img src="images/bullet5.gif" alt="" title="" /></span>Categories</div>

      <ul class="list">
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
        <li><a href="#">hollidays gifts</a></li>
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
        <li><a href="#">hollidays gifts</a></li>
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
      </ul>

      <div class="title"><span class="title_icon"><img src="images/bullet6.gif" alt="" title="" /></span>Partners</div>

      <ul class="list">
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
        <li><a href="#">hollidays gifts</a></li>
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
        <li><a href="#">hollidays gifts</a></li>
        <li><a href="#">accesories</a></li>
      </ul>

    </div>


  </div><!--end of right content-->

  <div class="clear"></div>
</div><!--end of center content-->
