$var title: Install

<div class="center_content">
  <div class="left_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet1.gif" alt="" title="" /></span>Installation</div>

    <div class="feat_prod_box_details">
      <p class="details">
        To get started you have to install another extension!  By installing our extension we will (eventually) automatically update your extension list whenever you install, uninstall or disable an extension.<br /><br />
        Install by <a href="https://firenomics.s3.amazonaws.com/firenomics.xpi">clicking here</a>.<br /><br />
        Currently updating is manual, so after restarting your browser, visit <a href="/home">your extension list</a> to make sure you are logged in, then visit <a href="chrome://firenomics/content/submit.html">chrome://firenomics/content/submit.html</a> manually using your URL Bar and the submit button on that page.  It will finish in second, come back and visit your extension list...<br /><br />
      </p>
    </div>
    <div class="clear"></div>
  </div><!--end of left content-->

  <div class="right_content">
    <div class="title"><span class="title_icon"><img src="images/bullet3.gif" alt="" title="" /></span>About Our Shop</div>
    <div class="about">
      <p>
        <img src="images/about.gif" alt="" title="" class="right" />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
      </p>

    </div>

    <div class="right_box">

      <div class="title"><span class="title_icon"><img src="images/bullet4.gif" alt="" title="" /></span>Promotions</div>
      <div class="new_prod_box">
        <a href="details.html">product name</a>
        <div class="new_prod_bg">
          <span class="new_icon"><img src="images/promo_icon.gif" alt="" title="" /></span>
          <a href="details.html"><img src="images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
      </div>

      <div class="new_prod_box">
        <a href="details.html">product name</a>
        <div class="new_prod_bg">
          <span class="new_icon"><img src="images/promo_icon.gif" alt="" title="" /></span>
          <a href="details.html"><img src="images/thumb2.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
      </div>

      <div class="new_prod_box">
        <a href="details.html">product name</a>
        <div class="new_prod_bg">
          <span class="new_icon"><img src="images/promo_icon.gif" alt="" title="" /></span>
          <a href="details.html"><img src="images/thumb3.gif" alt="" title="" class="thumb" border="0" /></a>
        </div>
      </div>
    </div>

    <div class="right_box">

      <div class="title"><span class="title_icon"><img src="images/bullet5.gif" alt="" title="" /></span>Categories</div>

      <ul class="list">
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
        <li><a href="#">hollidays gifts</a></li>
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
        <li><a href="#">hollidays gifts</a></li>
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
      </ul>

      <div class="title"><span class="title_icon"><img src="images/bullet6.gif" alt="" title="" /></span>Partners</div>

      <ul class="list">
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
        <li><a href="#">hollidays gifts</a></li>
        <li><a href="#">accesories</a></li>
        <li><a href="#">flower gifts</a></li>
        <li><a href="#">specials</a></li>
        <li><a href="#">hollidays gifts</a></li>
        <li><a href="#">accesories</a></li>
      </ul>

    </div>


  </div><!--end of right content-->

  <div class="clear"></div>
</div><!--end of center content-->
