$var title: Install

<div class="center_content">
  <div class="left_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet1.gif" alt="" title="" /></span>Installation</div>

    <div class="feat_prod_box_details">
      <p class="details">
        To get started you have to install another extension!  By installing our extension we will (eventually) automatically update your extension list whenever you install, uninstall or disable an extension.
      </p>
      <h3>Install:</h3>
      <p class="details">
        Install by <a href="https://firenomics.s3.amazonaws.com/firenomics.xpi">clicking here</a>, then restart your browser as requested.
      </p>
      <h3>Manual Update (for now)</h3>
      <p class="details">
        Currently updating is manual.  To get started click <b>Update Firenomics</b> in the Tool Menu of your browser.  You will be asked to login with a <em>Google Account</em>.  If this is your first time using Firenomics you will be asked to choose a username.
      </p>
    </div>
    <div class="clear"></div>
  </div><!--end of left content-->

  <div class="right_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet3.gif" alt="" title="" /></span>Pre-Alpha !!!</div>
    <div class="about">
      <p>
        Firenomics is very new.  Please try it out and <a href="http://firenomics.uservoice.com">give feedback on uservoice</a>.  If you are new to addons, this is probably not the first extension for you :)
      </p>
    </div>
  </div><!--end of right content-->

  <div class="clear"></div>
</div><!--end of center content-->
