$def with (slug)
$var title: Couldn't find '$slug'
<h3>Sorry, I couldn't find a page $slug</h3>

<style type="text/css">
  body #goog-wm { color: #474220 }
  body #goog-wm h3.closest-match { }
  body #goog-wm h3.closest-match a { }
  body #goog-wm h3.other-things { }
  body #goog-wm ul li { }
  body #goog-wm li.search-goog { }
  body #goog-wm form { }
  body #goog-wm form input#goog-wm-qt { }
</style>
<script type="text/javascript">
  //<![CDATA[
    var GOOG_FIXURL_LANG = 'en';
    var GOOG_FIXURL_SITE = 'http://www.firenomics.com/';
  //]]>
</script>
<script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js" type="text/javascript"></script>
