$var title: Privacy Policy

<div class="center_content">
  <div class="left_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet1.gif" alt="" title="" /></span>Privacy Policy</div>

    <div class="feat_prod_box_details">
      <p class="details">
        The information you share is public (the whole point of the site), except your google email account - we won't share that - we hate spam as much as you.
      </p>
    </div>
    <div class="clear"></div>
  </div><!--end of left content-->

  <div class="right_content">
  </div><!--end of right content-->

  <div class="clear"></div>
</div><!--end of center content-->
