$def with (profile, nonce, goog)
$var title: Profile
<div class="center_content">
  <div class="left_content">
    <div class="title"><span class="title_icon"><img src="/static/images/bullet1.gif" alt="" title="" /></span>Overview</div>

    <div class="feat_prod_box_details">

      <h3 class="profile $profile.platform">$profile.platform <em>$profile.version on $profile.os</em></h3>
      <ul>
      $for ux in profile.profileextension_set:
          <li><a href="/extensions/$ux.extension.mid">$ux.extension.name</a> <em>$ux.version</em></li>
      </ul>

    </div>
    <div class="clear"></div>
  </div><!--end of left content-->

  <div class="right_content">
    $if not profile.user:
        <div class="about" id="fnClaimProfile" style="visibility: hidden">
          <h3>Claim your profile!</h3>
          <p>If you want to share this profile publicly you can claim it.</p>
          <p>Public profiles allow you to comment on your list, a widget you can embed on your blog, ...</p>
            <form method="POST">
              <input id="fnProfileNonce" name="challenge" type="text" style="visibility: hidden" value="$nonce" />
              <input id="fnProfileResponse" name="response" type="text" style="visibility: hidden" value="" />
              $if goog:
                  <input id="fnSubmit" type="submit" value="Claim" />
            </form>
          $if not goog:
              <a href="?login=true">Login to your google account to start the process.</a>
        </div>
    $if profile.user:
        <div class="about">
          <img src="$user.gravatar(80)" style="float: right; padding: 10px" />
          <h3><a href="$profile.user.name">$profile.user.name</h3>

  </div><!--end of right content-->

  <div class="clear"></div>
</div><!--end of center content-->


