$def with (profile, nonce)
$var title: Profile

<h3 class="$profile.platform">$profile.name <em>$profile.version on $profile.os</em></h3>
<form method="POST">
  <input id="fnProfileNonce" name="challenge" type="text" style="visibility: hidden" value="$nonce" />
  <input id="fnProfileResponse" name="response" type="text" style="visibility: hidden" value="" />
  <div id="fnClaimProfile" style="visibility: hidden">
    <input id="fnSubmit" type="submit" value="Claim your profile!" />
  </div>
</form>
<ul>
$for ux in profile.profileextension_set:
    <li><a href="/extensions/$ux.extension.mid">$ux.extension.name</a> <em>$ux.version</em></li>
</ul>
